<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>spring-location</param-name>
        <param-value>classpath:app-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>com.AlephAlliance.listener.InitSpringContextListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>ShowPhonesServlet</servlet-name>
        <servlet-class>com.AlephAlliance.servlet.ShowIphonesByParametersServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ShowIPhoneServlet</servlet-name>
        <servlet-class>com.AlephAlliance.servlet.ShowIPhoneServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowPhonesServlet</servlet-name>
        <url-pattern>/phones</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ShowIPhoneServlet</servlet-name>
        <url-pattern>/phone</url-pattern>
    </servlet-mapping>

</web-app>
